.barra-rolagem{
    width: 100%;
    height: 100%;
    background-color: #FFB262;
    display: flex;
    justify-content: start;
    align-items: center;
    column-gap: 5px;
    overflow-x: scroll;
}
.barra-rolagem::-webkit-scrollbar{
outline: none;
}
.barra-rolagem div{
    min-width: 90px;
    height: 30px;
    background-color: #fff23b;
    margin-top: 15px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid #fff23b;
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
}