.footer{
    width: 100%;
    display: flex;
    justify-content: space-around;
    background-color: rgb(48, 48, 48);
    padding-bottom: 50px;
}
.coluna{
    margin-top: 15px;
    margin-bottom: 10px;
    
    
}
.coluna h1{
    color: white;
    padding: 10px;
    font-size: larger;
}
.coluna li{
    color: white;
    padding-bottom: 5px;
   list-style-type: none;
   text-align: center;
   font-size: large;
}
.linha-logo{
    background-color: rgb(41, 41, 41);
    display: flex;
    justify-content: center;
    align-items: center;
}
.linha-logo img{
    margin: 10px;
    width: 40px;
    
    border-radius: 50px;
    
    box-shadow: 0px 0px 10px white;
}
.linha-logo p{
    color: white;
    font-size: 25px;
}