

.head{
    background-color: rgb(255, 244, 205);
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    position: relative;
    
    
}
    .logo{
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .logo img{
        width: 150px;
        max-width: 400px;
    }
    .logo-name{
        margin-top: 15px;
        margin-bottom: -20px;
        font-size: 30px;
    }


    .navegation-form{
        margin-top: 7px;
        z-index: 1;
        width: 60%;
        border: 1px solid;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        border-color: rgb(255, 255, 255);
        box-shadow: 0px 2px 20px rgb(224, 224, 224);
        
       
       
    }
    .navegation{
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .navegation img{
        width: 35px;
        height: 35px; 
    }
    .barra-pesquisa{
        width: 100%;
        height: 40px;
        background-color: white;   
        border: 1px solid; 
        border-radius: 10px;   
        border-color: rgb(255, 255, 255);  
        margin-inline-start: 10px;
        font-size: large;
    }

    .barra-pesquisa:focus-visible{
        outline: none;
    }
    .barra-pesquisa::placeholder{
        color: black;
        opacity: 60%;
        font-size: large;
    }

    .pesquisa-button{
        margin-right: 5px;
        border: none;
        background-color: white;
        cursor: pointer;
    }

.menu-space{
    width: 100%;
    height: 300px;
    position: absolute;
    display: flex;
    justify-content: start;
}
    .menu{
        align-self: flex-start;
        margin-left: 10px;
    }
    .menu img{
        width: 45px;
    }


@media (min-width: 768px){
    .head{
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        display: flex;
        flex-direction: row; 
        justify-content: space-between;
        
    }
        .logo{
            margin-left: 10%;
            height: 150px;
            display: flex;
            flex-direction: row;
           
            gap: 20px;
        }
        .logo img{
            width: 100px;
        }
       
        .logo-name{
            font-size: 40px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        .navegation-form{
            z-index: 1;
            width: 35%;
            margin-right: 5%;
            height: 60px;
            display: flex;
            align-items: center;

        }
        .navegation{
            width: 100%;
          
        }
        .navegation img{
            width: 45px;
            height: 45px; 
        }
        .barra-pesquisa{
            width: 100%;
            font-size: larger;
        }
    
        .barra-pesquisa:focus-visible{
            outline: none;
        }
        .barra-pesquisa::placeholder{
            font-size: larger;
        }

        .menu-space{
            z-index: 1;
            display: flex;
            justify-content: start;
        }
            .menu{
                align-self: center;
                margin-left: 20px;
                
            }
            .menu img{
                width: 45px;
                margin-right: 60px;
            }
    
}