
.main{
    background-color: rgb(255, 248, 167);
    margin-top: -10px;
}
.container-grid-main{

    margin: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 200px));
    grid-auto-rows: 300px;
    gap: 10px;
    place-content: center;
    
}

.card-produto-corpo{
   background-color: #FFB11B;
   border: -1px solid #FFB11B;
   border-radius: 25px;
   box-shadow: 0px 0px 10px rgb(219, 219, 219);

}
.card-produto-elements{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.imagem-element-main{
    background-color: white;
    border: 2px solid white;
    border-radius: 25px;
}
.imagem-element-main img{
    width: 100%;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 25px;
}
.text-element-main{
    padding-left: 5px;
    padding-right: 5px;
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-element-main p{
    font-size:15px;
    text-align: center;
}

@media (min-width: 768px){

    .container-grid-main{
        grid-template-columns: repeat(auto-fit, minmax(100px, 280px));
        grid-auto-rows: 360px;
        gap: 10px;
        place-content: center;
        padding-top: 20px;
        
    }
    
    .card-produto-corpo{

    }
    .card-produto-elements{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .imagem-element-main{
        background-color: white;
        border: 1px solid white;

    }
    .imagem-element-main img{
        width: 100%;
        border: 1px solid rgb(255, 255, 255);
        border-radius: 25px;
    }
    .text-element-main{
        margin-top: 15px;
    }
    
    .text-element-main p{
        font-size:15px;
        text-align: center;
    }
}