
.container{
   
    display: flex;
    flex-direction: column;
    

    min-height: 100vh;
    max-height: 1000vh;
}
    .head{
        flex:2 1 300px;
    }
    .content{
        display: flex;
        flex-direction: column;
        
        gap: 10px;
        flex: 1;
    }
    .main{
        flex: 1 1 auto;
        order: 2;
    }

    .div1{
        flex: 1 1 80px;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .footer{
        flex: 1;
    }


@media (min-width: 768px){
    .head{
        flex:2 1 150px;
    }
    .div1{
        flex: 1 1 180px;
    }
}
