
.container{
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    min-height: 100vh;
}

    .main{
        
        flex: 1;
        order: 2;
    }

    .div1{
        height: 80px;
        order: 1;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .div2{
        order: 3;
    }

    .footer{
        flex: 1;
    }


